/* Your CSS here */

/* /Your CSS */

nav {
  display: flex;
  justify-content: start;
}

nav .nav-item {
  border: 2px solid slategrey;
  background-color: aquamarine;
  padding: 0.5rem;
  margin-right: 10px;
}

/* General Styles */

body {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto 800px auto;
}

main {
  border: 2px solid slategrey;
  padding: 5px;
}

/* Main content */

article .ad {
  display: flex;
  align-items: center;
  border: 2px solid teal;
  border-radius: 10%;
  margin-bottom: 16px;
  background: yellowgreen;
}

article .ad p {
  text-align: center;
  padding: 0 0.25rem;
}

article p {
  padding-right: 1rem;
  margin-top: 0;
}

.content {
  display: flex;
}
